# ----------------------------
# Generales / SO / Editores
# ----------------------------
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/

# IDEs
.idea/
.vscode/
*.iml
*.ipr
*.iws

# ----------------------------
# Flutter / Dart
# ----------------------------
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
build/
migrate_working_dir/
app.*.symbols
app.*.map.json

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last_build_id
ios/Flutter/flutter_export_environment.sh

# Android
android/.gradle/
android/app/build/
android/app/debug
android/app/profile
android/app/release
# Firmas / llaves (¡sensible!)
android/key.properties
android/app/*.keystore
android/app/*.jks
# Firebase (si lo usas; sensible)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# ----------------------------
# Node / JavaScript (API y pruebas)
# ----------------------------
**/node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
# (Normalmente SÍ se versiona el lockfile de apps)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml

# ----------------------------
# Python (si usas entornos locales)
# ----------------------------
.venv/
venv/
ENV/

# ----------------------------
# Archivos sensibles / locales
# ----------------------------
.env
.env.*
!.env.example
secret.json
body.json
